body {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
.image{
    margin-top: 10px;
    margin-left: 10px;
    border: 0px solid black;
    transition: all .5s ease-in-out;
}

.label:hover + .image{
    transform: rotate(135deg) scale(0.75, 0.75);
    border: 10px solid black;
}
  
.label{
    background-color: #7F8C8D;
    color: white;
    border-radius: 50px / 50px;
    width: 250px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out; 
}

.label:hover{
    background-color: #95A5A6;
    box-shadow: 1px 3px 10px 0px grey;
}
